@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('http://fonts.cdnfonts.com/css/helvetica-rounded-lt-std');

$family-sans-serif: 'Montserrat', sans-serif;
$primary: #0064a6 !default;
$ghcolor: #d5d5cc;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;

@import "../node_modules/bulma/bulma.sass";
$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "showcase";
@import "../node_modules/bulma-block-list/src/block-list.scss";

.gh-sponsor {
  color: $ghcolor;
}