---
layout: default
---

<div class="content">

    <p>Published: {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}</p>
    {% if page.categories %}
    <nav class="breadcrumb">
      {% assign categories = page.categories %}
      {% for category in categories %}
      <span>{{category}}</span>
      {% endfor %}
    </nav>
    {% endif %}

    {{ content }}
</div>

<div class="tags">
    {% for tag in page.tags %}
    <span class="tag is-primary">{{ tag }}</span>
    {% endfor %}
</div>

{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}
