---
layout: default
---

<div class="content">

    <p>Published: {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}</p>
    
    {% if page.categories %}
    <nav class="breadcrumb">
      <ul>
      {% for category in page.categories %}
        <li class="is-active"><a href="#">{{ category }}</a></li>
      {% endfor %}
      </ul>
    </nav>
    {% endif %}

    {{ content }}
</div>

<div class="tags">
    {% for tag in page.tags %}
    <span class="tag is-primary">{{ tag }}</span>
    {% endfor %}
</div>

{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}
